body{
  margin: 0 auto;
  padding: 0;
  min-height:100%;
  position:relative;
}

img{
  max-width: 100%;
}

header{
  background: purple;
  height: 60px;
} 

header h1{
  margin: 0%;
  color: #fff;
  padding: 10px; /** margem interna **/
}

main{
  width: 500px;
  padding: 80px;;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img{
  border-radius: 50%;
  background-color: #f2dfd5;
  width: 275px;
  border: 5px solid purple;
}

#linha {
  width: 100%;
  border-bottom: 1px solid #000000;
}

.title{
  color: purple;
  font-size: 150%;
}

div h1{
  font-size: 120%;
}

div{
  display: flex;
  align-items: center;
  column-count:4;         
}

.subtitulo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.text1{
  display: flex;
  justify-content: space-around;
  text-align: center;

}
.text1 h1{
  margin-right: 18px;
}

.favoritos{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.favoritos h1{
  margin-left: 160px;
}

.text2{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;

}
footer{
  align-items : center ;
  display: flex;
  justify-content: space-between;
  padding: 0px 550px;
  height: 20px; 
}