body{
  margin: 0 auto;
  padding: 0;
  min-height:100%;
  position:relative;
}
img{
  max-width: 100%;
}

header{
    background: purple;
  height: 60px;
} 
header h1{
  margin: 0%;
  color: #fff;
  padding: 10px; /** margem interna **/
}

main{
  width: 500px;
  padding: 80px;;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img{
  border-radius: 50%;
  background-color: #f2dfd5;
  width: 275px;
  border: 5px solid purple;
}

#linha {
  width: 100%;
  border-bottom: 1px solid #000000;
}

.title{
  color: purple;
  font-size: 150%;
}

div h1{
  font-size: 120%;
}

div{
  display: flex;
  align-items: center;
  column-count:4;         
}

.text1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  align-items: center ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 550px;
  background: white;
  height: 30px;
  border: 1px solid #000;
}