* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #282a36;
    align-items: center;
    color: #50fa7b;
    position: fixed;
    width: 100%;
}

main {
    padding: 50px;
}

header a {
    text-decoration: none;
    color: #50fa7b;
    padding: 1rem;
}

header a:hover {
    background-color: #44475a;
}

header span {
    display: none;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

@media (max-width: 576px) {
    nav {
        display: none;
    }

    header span {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .flex {
        flex-direction: column;
    }

    nav.mobile {
        display: flex;
        flex-direction: column;
    }
}
